{% stylesheet %} .cta-example{ position: relative; }

<style></style>

<section>
  <div class="cta-example_image">
    {{ "Lifestyle-1" | placeholder_svg_tag }}
  </div>

  <div class="cta-example_content">
    <h2>My call to action</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      excepturi fugiat quam veritatis ea, consequatur est eaque, quaerat
      repudiandae, possimus reprehenderit atque. Maxime tempore autem sint
      corporis itaque similique laudantium.
    </p>
  </div>
  <h2>my Call-to-Action</h2>
</section>
